---
layout: revealjs
title: Git Verstehen
description: Alles was man braucht, um als Entwickler im Team mit Git arbeiten zu können.
nav_exclude: true
---
<section>
	<section data-markdown="sections/workshop-git-verstehen/title.md"></section>
	<section data-markdown="sections/workshop-git-license/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/vorstellung.md"></section>
	<section data-markdown="sections/bjoern/index.md"></section>
	<section data-markdown="sections/vorstellung/index.md"></section>
	<section data-markdown="sections/bjoern/story.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/inhalt.md"></section>
	<section data-markdown="sections/schedule/2-days-0900-1700-0900-1700.md"></section>
</section>

<!-- Was ist git?-->
	<section>
		<section data-markdown="sections/section-headers/was-ist-git/section.md"></section>
		<section data-markdown="sections/repository-begriff/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/was-ist-git/tools-cli.md"></section>
		<section data-markdown="sections/architects-corner/commandline/index.md"></section>
		<section data-markdown="sections/commandline/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/was-ist-git/tools-ui.md"></section>
		<section data-markdown="sections/tools-ui/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/was-ist-git/tools-web.md"></section>
		<section data-markdown="sections/tools-web/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/was-ist-git/herkunft.md"></section>
		<section data-markdown="sections/architects-corner/herkunft/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/was-ist-git/hallo-welt.md"></section>
		<section data-markdown="sections/hallo-welt/index.md"></section>
	</section>

<!-- Repository -->
	<section>
		<section data-markdown="sections/section-headers/repository/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/repository/repository-and-workspace.md"></section>
		<section data-markdown="sections/repository-und-workspace/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/repository/commits-and-log.md"></section>
		<section data-markdown="sections/commits/index.md"></section>
		<section data-markdown="sections/log/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/repository/refs.md"></section>
		<section data-markdown="sections/refs/index.md"></section>
		<section data-markdown="sections/architects-corner/backward-compatibility/index.md"></section>
		<section data-markdown="sections/diff/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/repository/zusammenfassung.md"></section>
	</section>

<!-- Commits -->
	<section>
		<section data-markdown="sections/section-headers/commits/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/commits/erstellen.md"></section>
		<section data-markdown="sections/commits-erstellen/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/commits/anatomie.md"></section>
		<section data-markdown="sections/architects-corner/porcelaine-and-plumbing/index.md"></section>
		<section data-markdown="sections/anatomie-eines-commits/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/commits/fortgeschritten.md"></section>
		<section data-markdown="sections/staging/index.md"></section>
		<section data-markdown="sections/oops/index.md"></section>
	</section>


<!-- Branches und Tags -->
	<section>
		<section data-markdown="sections/section-headers/branches-und-tags/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/branches-und-tags/branches.md"></section>
		<section data-markdown="sections/branches/index.md"></section>
		<section data-markdown="sections/tags/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/branches-und-tags/tags.md"></section>
		<section data-markdown="sections/tags/index.md"></section>
	</section>

<!-- Klone und Remotes -->
	<section>
		<section data-markdown="sections/section-headers/klone/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/klone/dezentralitaet.md"></section>
		<section data-markdown="sections/architects-corner/dezentral/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/klone/klonen.md"></section>
		<section data-markdown="sections/remotes/index.md"></section>
		<section data-markdown="sections/authentication/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/klone/remote-refs.md"></section>
		<section data-markdown="sections/remote-branches/index.md"></section>
	</section>


<!-- Push and Pull -->
	<section>
		<section data-markdown="sections/section-headers/push-pull.md"></section>
		<section data-markdown="sections/push-and-pull/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/push-pull/remote-branches.md"></section>
		<section data-markdown="sections/branches-fortgeschritten/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/architects-corner/pull-requests/index.md"></section>
		<section data-markdown="sections/push-and-pull/index.md"></section>
		<section data-markdown="sections/pull-requests/index.md"></section>
	</section>

<!-- Merges-->
	<section>
		<section data-markdown="sections/section-headers/merges.md"></section>
		<section data-markdown="sections/merges/index.md"></section>
	</section>

<!-- Rebasing-->
	<section>
		<section data-markdown="sections/rebasing/index.md"></section>
		<section data-markdown="sections/interactive-rebasing/index.md"></section>
	</section>

<!-- Workflows -->
	<section>
		<section data-markdown="sections/workflows/tools.md"></section>
	</section>
	<section>
		<section data-markdown="sections/architects-corner/non-opinionated/index.md"></section>
		<section data-markdown><textarea data-template>### [To Branch or Not to Branch](https://kapitel26.github.io/slides/2019-10-27-to-branch-or-not-to-branch/)</textarea></section>
	</section>
	<section>
		<!-- <section data-markdown="sections/branching-motivation/index.md"></section> -->
		<section data-markdown="sections/branching-befehle/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/workflows/patterns.md"></section>
		<section data-markdown="sections/branching-patterns/index.md"></section>
		<section data-markdown="sections/pull-requests/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/workflows/index.md"></section>
		<!-- nachfolgende Abschnitte mal überarbeiten und entrümpeln -->
		<section data-markdown="sections/workflow-auf-dem-master-entwickeln/index.md"></section>
		<section data-markdown="sections/workflow-continuous-delivery/index.md"></section>
		<section data-markdown="sections/workflow-feature-branching/index.md"></section>
		<section data-markdown="sections/workflow-periodic-releases/index.md"></section>
		<section data-markdown="sections/workflow-multiple-releases/index.md"></section>
		<section data-markdown="sections/gitflow/index.md"></section>
		<section data-markdown="sections/branching-modelle/index.md"></section>
	</section>

<!-- Große Repos-->
	<section>
		<section data-markdown="sections/section-headers/grosse-projekte/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/grosse-projekte/grosse-repos.md"></section>
		<section data-markdown="sections/large-repos/index.md"></section>
	</section>
	<section>
		<section data-markdown="sections/section-headers/grosse-projekte/modularisierung.md"></section>
		<section data-markdown="sections/modularisierung/index.md"></section>
	</section>
